{% extends 'index.html' %}
{% block title %}
Services
{% endblock title %}
{% block body %}

<div class="container px-4 py-5 my-4" id="featured-3">
    <h2 class="pb-2 border-bottom"><b>Services</b></h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
        </div>
        <h2>Single Page Websites</h2>
        <p>We use advance technologies to build single page websites. We use modern Javascript and popular frameworks like <b>node</b>, <b>Django</b>, <b>React</b> etc.</p>
       
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h2>Multi-Page Websites</h2>
        <p>No compromise with your experience!! We build multi page websites with much optimized way.</p>
    
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <h2>Responsive Websites</h2>
        <p>We can make your websites responsive.Nowdays it's necessary to fit your website in smartphones as well as computers.</p>
     
      </div>
    </div>
  </div>
  <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom"></h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <div>
          <h2>Modify Your Website</h2>
          <p>Your website need something new functionality! Yes, we are here to modify and update your website.</p>
         
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
        </div>
        <div>
          <h2>Technical Support</h2>
          <p>Ohoo!! Lot of issues with your website! Don't worry we can solve your all problems and bugs.</p>
        
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
        </div>
        <div>
          <h2>Android/IOS App</h2>
          <p>Need an application for your smartphone! We will enhance your experience with <b>React Native</b>.</p>
        
        </div>
      </div>
    </div>
  </div>
  
{% endblock body %}